{% extends "base.html" %}

{% block content %}
	<h1>Choose your player</h1>
    <form action="/" method="POST">
        <p>
		Player's first and last name: <br>
		<input name = "playername" type = "text">
        </p>
        <p><input type = "SUBMIT"></p>
		{% if message %}
		{{message}}
		{%endif%}
    </form>

    {% if player %}

    <h2>{{player}}  {{nat}}</h2>
    <div id = "{{plotids[0]}}"></div>
    <div id = "{{plotids[1]}}"></div>
    {% endif %}
{% endblock %}
{% block footer %}
{% if player %}
<footer>
    <!-- D3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <script type="text/javascript">
    	var plots = {{ plots | safe }}
    	for (var i = 0; i<plots.length;i++){
        	var graph = plots[i];

	    	Plotly.plot(graph.id, // the ID of the div, created above
                        	graph.data,
                        	graph.layout || {});
	    }
    
	</script>
</footer>
{% endif %}

{% endblock %}